# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS
.DS_Store

# Python egg
*.egg-info/

# Distribution / packaging
.build/
dist/
*.egg
*.whl

# Models (ignore model pkl files in repo; remove if you want to include them)
models/*.pkl

# Logs
*.log

# VSCode
.vscode/
